<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkm.pkmdb.dao.BallBagDao">

    <select id="getBallBagById" parameterType="String" resultType="com.pkm.pkmdb.object.BallBag">
       SELECT ball.id AS id,ball.img AS img,ball.money AS money,ball.`name` AS name,ball.probability AS probability,ball_pack.id AS bagid,ball_pack.num AS num
       FROM ball,ball_pack
       WHERE ball.id=ball_pack.ball_id AND ball_pack.user_id=#{keyword}
    </select>
</mapper>